/*---------General-------*/
.d-flex{
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg-grey{
	background-color: #E9EAEC;
}


header{
	width: 100%;   
    background-color: #4ABDAC;
    height: auto;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 600;
    padding: 0.4em;
}


/*-------Form-Entrada------*/
.formulario{
	width: 80%;
	padding: 1.2em 0px;
}
.agregar{
	margin-left: 0.8em;
}
.text-area{
	width: 100%;
}

/*---------Mensajes------*/
.mensajeContent{
	width: 80%;
	margin: auto;
	text-align: justify;
}
.icono{
	font-size: 1em;
	color: red;
}
.rayado{
	text-decoration: line-through;
}

.mensaje{
	word-wrap: break-word;
	background-color: #E9EAEC;
	padding: 0.4em 0.4em;
	margin: 0.4em 0px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#mensaje input{
	margin-right: 1em;
}

#mensaje label{
	width: 80%;
}

#mensaje i{
	margin-left: 1em;
}

#boton{
	background-color: #FE491A;
	border: none;
}

#boton:disabled {
   background-color: #F7B733;
}

/*solo para moviles*/
@media (max-width: 480px) {
  	.contenedor{
		overflow-y: scroll;
	}
}

